* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /* background-image: url("../media/images/bg.jpg"); */
    background-size: cover;
}

#gameWindowBody {
    background-image: url("../media/images/bg.jpg");
}



.controls {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.controls .start_round_button {
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.log {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    contain: content;

    border: #0f2b00 1px solid;
}

.log .log_autoscroll {
    position: sticky;
    top: 0;
    left: 0;
    margin: 10px;
    height: 20px;
    width: 20px;
}

.log .log_message {

}

.log .log_message_time {
    color: #5d5d5d;
}

/* ROUND 0 */

/* .round {
    width: 100%;
    height: 100%;
    display: flex;
} */

.round_0 .logo-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.round_0 .logo-animation img {
    animation: logo_animation_img 1s;
    width: 500px;
    transform: translateX(-100px);
}

.round_0 .logo-animation h1 {
    font-family: sans-serif;
    color: #0f3400;
    animation: logo_animation_text 1s;
    font-size: 100px;
    transform: translateX(50px);
}

@keyframes logo_animation_img {
    0% {
        width: 0px;
    }
    10% {
        width: 100px;
        transform: translateX(0);
    }

    100% {
        width: 500px;
        transform: translateX(-100px);
    }
}
@keyframes logo_animation_text {
    0% {
        position: absolute;
        opacity: 0;
        font-size: 0px;
        transform: translateX(-150px);
    }
    10% {
        position: relative;
        opacity: 1;
        font-size: 0px;
        transform: translateX(-150px);
    }

    100% {
        font-size: 100px;
        transform: translateX(50px);
    }
}


/* ROUND 1 */

.round_1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.round_info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0f3400;
    font-size: 80px;

    transform: translateY(-1000px);
}

.round_info.show {

    transition: all 1s ease-out;
    transform: translateY(0px);
    
}
.round_info.hide {
    transition: all 1s ease-in;
    transform: translateY(1000px);
}


/* ROUND 4 */


.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round_4 .card {
    height: 200px;
    width: 400px;
    font-size: 50px;
}

.roundControl .card {
    height: 100px;
    width: 200px;
    font-size: 22px;
}

.card {


    /* background-color: rgb(4, 146, 146); */
    background-color: rgb(117 48 199);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;


    margin: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.round_4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.round_4 .card.correct {
    background-color: green;
}
.round_4 .card.skip {
    background-color: grey;
}
.round_4 .card.incorrect {
    background-color: red;
}

.round_4 .card .points {
    display: block;
}
.round_4 .card .word {
    display: none;
}


.round_4 .card {
    transition: all 1s;
    /* position: relative; */
}

.round_4 .card.card.shown {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    margin: 0;
}

.round_4 .card.shown .points {
    display: none;
}
.round_4 .card.shown .word {
    display: block;
}


.round_4 .card_word_view {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    /* background-color: rgb(106, 215, 184); */
    background-image: url("../media/images/snow_bg.jpg");
    background-size: cover;
    height: 0px;
    width: 0px;
    font-size: 0px;
    color: #0f2b00;
    transition: all 1s;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}
.round_4 .card_word_view .category-info {
    position: absolute;
    top: 0;
    margin-top: 40px;
}
.round_4 .card_word_view .category {
    transition: all 1s;
    display: inline;
}
.round_4 .card_word_view .word {
    transition: all 1s;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.round_4 .card_word_view.active {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.round_4 .card_word_view.active .category {
    font-size: 80px;
}
.round_4 .card_word_view.active .word {
    font-size: 160px;
}

.round_4 .card_word_view.correct {
    background-color: green;
}
.round_4 .card_word_view.skip {
    background-color: grey;
}
.round_4 .card_word_view.incorrect {
    background-color: red;
}

.roundControl .card {
    cursor: pointer;
    
}





.round_6 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}
.round_6 .word {
    color: #0f3400;
    font-size: 140px;
    font-weight: 900;
    transition: all 0.5s;
    opacity: 1;
}
.round_6 .word.hidden {
    opacity: 0;
}

